/PhysicalModel.jpg
/TetraHedronEdgesOnly.pdf
/TetraHedronEdgesOnly.svg
/TetraHedronEdgesOnly2.svg
/TetraHedronEdgesOnly.png
/APCisorgl2.1.pdf
/APCisorgl2.pdf
/TALisomarkedupArch.pdf
/TALisomarkedupArch.svg
/APCisorgl2.1.obj
/APCisorgl2.1FC.obj
/APC3dfreedac2dwg.dwg
/APC3dfreecad.fcstd1
/APC3dfreecad.fcstd
/APC3d.blend
/TetraHedronEdgesOnly2.png
/LexisGeneral.html
/LexisGeneral.pdf
/n4spanningtreesv1.svg
