/references.bib.bak
/Riffe201.synctex.gz
/Riffe2015.aux
/Riffe2015.log
/.texlipse
/tmp
/Riffe2015.synctex.gz
/Riffe2015.bbl
/Riffe2015.blg
/Riffe2015.pdf
/LabPres.log
/LabPres.aux
/LabPres.nav
/LabPres.blg
/LabPres.bbl
/LabPres.out
/LabPres.pdf
/LabPres.snm
/LabPres.synctex.gz
/LabPres.toc
/LabPres.vrb
/.settings/
/RGL1/
