/references.bib.bak
/Riffe201.synctex.gz
/Riffe2015.aux
/Riffe2015.log
/.texlipse
/tmp
/Riffe2015.synctex.gz
/Riffe2015.bbl
/Riffe2015.blg
/Riffe2015.pdf
/LabPres.log
/LabPres.aux
/LabPres.nav
/LabPres.blg
/LabPres.bbl
/LabPres.out
/LabPres.pdf
/LabPres.snm
/LabPres.synctex.gz
/LabPres.toc
/LabPres.vrb
/.settings/
/RGL1/

/Riffe2015.out
/RSV2015.aux
/RSV2015.bbl
/RSV2015.blg
/RSV2015.log
/RSV2015.synctex.gz
/Prague.aux
/Prague.log
/Prague.nav
/Prague.out
/Prague.pdf
/Prague.snm
/Prague.synctex.gz
/Prague.toc
/RSV2015.pdf
/RSV2015.lof
/RSV2015.lot

/RSV2015.ttt
/RSV2015.fff
/TitlePage.odt
/TitlePage.doc
/RSV2015PAA.aux
/RSV2015PAA.bbl
/RSV2015PAA.blg
/RSV2015PAA.lof
/RSV2015PAA.log
/RSV2015PAA.lot
/RSV2015PAA.synctex.gz
/RSV2015EPC.pdf
/RSV2015MPIDR.pdf
/ADEHabstract.aux
/ADEHabstract.bbl
/ADEHabstract.blg
/ADEHabstract.lof
/ADEHabstract.log
/ADEHabstract.pdf
/ADEHabstract.synctex.gz
/RSV2015ADEH.pdf
/ADEHabstract.tex

/BFDW/mpidr
/BFDW/Figures/Perozzo1000px_cropped_adj.png
/BFDW/Figures/prism.jpg
/BFDW/build
/BFDW/mpidr_logo_colour_en_solo.pdf
/BFDW/mpidr_logo_colour_en.pdf
/BFDW/Riffe_BFDW_2016.aux
/BFDW/Riffe_BFDW_2016.log
/BFDW/Riffe_BFDW_2016.nav
/BFDW/Riffe_BFDW_2016.out
/BFDW/Riffe_BFDW_2016.snm
/BFDW/Riffe_BFDW_2016.synctex.gz
/BFDW/Riffe_BFDW_2016.toc

/EPC/mpidr/
/EPC/build
/EPC/mpidr_logo_colour_en_solo.pdf
/EPC/mpidr_logo_colour_en.pdf
/EPC/RSV_EPC_2016.aux
/EPC/RSV_EPC_2016.log
/EPC/RSV_EPC_2016.nav
/EPC/RSV_EPC_2016.out
/EPC/RSV_EPC_2016.snm
/EPC/RSV_EPC_2016.synctex.gz
/EPC/RSV_EPC_2016.toc


